source/wsdl/calientes.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Calientes"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Calientes"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Calientes"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Calientes">
            <xsd:complexType name="cantidad">
                <xsd:sequence>
                    <xsd:element name="numeros" type="tns:integer"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="calientes">
                <xsd:sequence>
                    <xsd:element name="numeros" type="tns:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="calientesRequest">
        <wsdl:part name="cantidad" type="tns:integer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="calientesResponse">
        <wsdl:part name="calientes" type="tns:string"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Calientes">
        <wsdl:operation name="setCalientes">
            <wsdl:input message="tns:calientesRequest"/>
            <wsdl:output message="tns:calientesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Calientes" type="tns:Calientes">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setCalientes">
            <soap:operation soapAction="http://localhost/source/server/setCalientes.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Historico"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Historico"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Calientes">
        <wsdl:port binding="tns:Calientes" name="TirarCalientes">
            <soap:address location="http://localhost/source/server/setCalientes.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>